@{
    ViewData["Title"] = "Customer Create";
}
@model web.Customer

<div class="text-center">
    <h1 class="display-4">Customer Create</h1>
    <form method="post" >
        <input name="Name" placeholder="Customer Name" />
        <input type="submit" title="Create" />
    </form>
</div>
