@{
    ViewData["Title"] = "Customer";
}
@model IEnumerable<web.Customer>

<div class="text-center">
    <h1 class="display-4">Customer</h1>
    <a href="../customer/create">Create</a>
    <table class="table">
        
    
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.Id </td>
            <td>@item.Name </td>
        </tr>
    }
    </table>
</div>
